#square-image {
  display: inline-block;
  height: 700px;
  width: 350px;
  background-image: url("./images/hutao2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
